.life-clock-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f2f2f2; */
}

.input-container {
  display: flex;
  justify-content: center;
}

.field-wrapper {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.life-clock-container {
  background-image: linear-gradient(to bottom right, white, #cccccc);
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.progress-fill {
  height: 100%;
  background-color: #3498db;
  border-radius: 5px;
  width: 0;
  transition: width 0.75s ease-out;
}

.pulse {
  animation: pulseEffect 0.3s linear;
}

@keyframes pulseEffect {
  0% {
    background-color: #3498db;
  }
  30% {
    background-color: #aacee7;
  }
  100% {
    background-color: #3498db;
  }
}

.quote-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#quote {
  display: block;
  font-style: italic;
  color: rgb(39, 39, 39); /* Set the font color */
}

#quote span {
  font-weight: bold;
  color: black; /* Set the font color */
}
